<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=500">
    <link rel="stylesheet" href="/static/styles_3.css" >
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>MovCommender error</title>
    
</head>
<body>
    <div class="moon"></div>
    <div class="moon__crater moon__crater1"></div>
    <div class="moon__crater moon__crater2"></div>
    <div class="moon__crater moon__crater3"></div>
    
    <div class="star star1"></div>
    <div class="star star2"></div>
    <div class="star star3"></div>
    <div class="star star4"></div>
    <div class="star star5"></div>
    <div class="star star6"></div>
    
    <div class="error">
        <div class="error__title">{{ parameters[0] }}</div>
        <div class="error__subtitle">{{ parameters[1] }}</div>
        <div class="error__description" style="padding-top: 20px;">{{ parameters[2] }}</div>
        <br>
        <div class="error__description">{{ parameters[3] }}</div>
        <button class="error__button error__button--active" >
        <a href="/" style="color: white; text-decoration: none; font-size: 2em;">
            <i class="las la-home"></i> Go home
        </a>
    </button>
        <!-- <button class="error__button">CONTACT</button> -->
    </div>
    <div class="stars">
        <!-- <div class="central-body">
            <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
            <a href="http://salehriaz.com/404Page/404.html" class="btn-go-home" target="_blank">GO BACK HOME</a>
        </div> -->
        <div class="objects">
            <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                <!-- <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px"> -->
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
    
        </div>
    
    </div>
    
</body>
</html>

<script>
    try {
        jQuery('.msg').hide()
    }
    catch {
        pass
    }
</script>